.CommunityTab-container{
    display: grid;
    grid-template-columns: 532px 532px;
    grid-template-rows: repeat(auto-fill, 320px);

}


.CommunityTab-createBtn{
    margin: 20px;
}
.CommunityTab-createBtnImg{
    cursor: pointer;
    width: 500px;
    height: 300px;
}
  
.CommunityTab-item{
    cursor: pointer;
    border: none;
    margin: 20px;
    width: 532px;
    height: 320px;
    position: relative;
    
}
.CommunityTab-item-img{
    /* position: relative; */
    width: 500px;
    height: 300px;
    border-radius: 0.5em;
    opacity: 1;
}
.CommunityTab-item-content{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    color: white;
}
.CommunityTab-item-tags{
    display: inline-flex;
    margin-top: 40px;
    margin-left: 30px;
}
.CommunityTab-item-tag-place{
    text-align: center;
    padding: 4px;
    border: solid 1px;
    border-radius: 1em;
    border-color: white;
    width: 100px;
    font-size: 12px;
    margin-right: 20px;
}
.CommunityTab-item-tag-style{
    text-align: center;
    padding: 4px;
    border: solid 1px;
    border-radius: 1em;
    border-color: white;
    width: 100px;
    font-size: 12px;
}
.CommunityTab-item-exhibit-title{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 180px;
    margin-left: 30px;
    font-size: 16px;
}
.CommunityTab-item-exhibit-content{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 240px;
    margin-left: 30px;
    font-size: 18px;
}