/* Matching.js 관련 css*/
.Slider {
  width: 100%;
  height: 55%;
}

.searchInput {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 25%;
  margin-right: 25%;

  
}

/* 검색 바탕 이미지 */
.searchInput_ui {
  /* display: flex; */
  /* justify-content: center; */
  position: absolute;
}


/* 검색 input box */
.searchInput_input { 
  /* display: flex; */
  /* justify-content: center; */
  width: 80%;
  padding-left: 15%;
  height: 32px;
  border: none;
  position: absolute;
  outline: none;
  background-color: transparent;

}


/* 돋보기 아이콘 */
.searchInput_icon {
  z-index: 2;
  margin-right: 10%;
  /* display: flex; */
  margin-left: auto;
}

.matchList-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%
}

.matchList-person{
  
  width: 50%;
}

.MatchTab1-container{
  display: grid;
  grid-template-columns: 476px 476px 476px;
  grid-auto-rows: 420px;
}

.MatchTab1-createBtnImg{
  cursor: pointer;
  width: 400px;
  height: 352px;
}

.MatchTab1-createBtn{
  margin: 20px;
}

.MatchTab1-item{
  cursor: pointer;
  border-radius: 1em;
  border: 1px solid;
  margin: 20px;
  width: 400px;
  height: 352px;
}
