

/* 여기부터 매치디테일페이지css */
.slider-button-left > div{
  position: relative;
  left:30px;
  width:30px;
  height:30px;
  z-index: 10;
  cursor:pointer;
}
.slider-button-right span{
  position:relative;
  left:-30px;
  z-index: 10;
}

.matchDetail-topNavBar-outer{
  display:flex;
  /* margin-top: 120px; */
  height:232px;
  width:100vw;
  background-color: #5E1EC7;
  opacity: 0.79;
}
.matchDetail-topNavBar{
  display:flex;
  width:100%;
  height: 308px;
}
.matchDetail-topNavBar-inner{
  display:flex;
  margin:auto;
  width:70%;
  display:flex;
  justify-content:space-around
}
.matchDetail-topNavBar-inner > div{
  display:flex;
  position: relative;
  top:11px;
  left:24px;
  width:100%;
  justify-content: flex-start;
  color:#FFFFFF;
  font-size:32px;
  font-weight:bold;
}
.topNavBarItem{
  width:100%;
  position: relative;
  left: 80px;
}
.topNavBarItem > div.under-line {
  width:100%;
  height:7px;
  background-color: #5E1EC7;
  position: relative;
  top:53px;
}
.topNavBarItem > h1{
  position: relative;
  top:20px;
  width:100%;
  height:20px;
  z-index: 2;
}


.topNavBarItem1_activate h1{
  color:#FFC942;
}
.topNavBarItem1_activate div.under-line{
  background-color: #FFC942;;
}
.topNavBarItem2_activate h1{
  color:#FFC942;
}
.topNavBarItem2_activate div.under-line{
  background-color:#FFC942 ;
}
.topNavBarItem3_activate h1{
  color:#FFC942;
}
.topNavBarItem3_activate div.under-line{
  background-color: #FFC942;
}

.matchDetail-midbox{
  display:flex;
  margin: 124px 10% 0 10%;
}
.right-banner-box{
  margin-left: 52px;
  width:100%;
  display:flex;
  justify-content: space-between;
  flex-direction: column;

}
.right-banner-box div{
  border-radius:60px;
  text-align: center;;

}
/* 조회수333 */
.inner-rightside{
  font-size:20px;
  text-align: center;
  align-items: center;
  position: relative;
  top:10px;
}
.right-banner-box-inner {
  height:100%;
  line-height: 100%;
}
.right-banner-box-inner > * {
  position: relative;
  top:-10px;
}
.inner-rightside-clicknum{
  position: relative;
  top:20px;
  right:30px;
  font-size:24px;
  font-weight: bold;
  text-align: center;
  height:48px;
  line-height: 100%;
  color:#232323;
  opacity: 0.9;


}
.right-banner-box-inner-outer{
  display:flex;
  width:100%;
  height:100px;
  justify-content: space-between;
  
}
.right-banner-box-inner div{
  display:inline-flex;
  margin:14px;
  padding:14px;
  font-size:24px;
  color:#7E5DEB;
  font-weight: bold;
  border:2px solid #7E5DEB;
}

.matchDetail-midbox-rightmid{
  display:grid;
  gap:1em;
  position: relative;
  top:-60px;
}
.matchDetail-midbox-rightmid >h1{
  font-weight: medium;
  font-size: 24px;
  justify-self: start;
}
.matchDetail-midbox-rightmid >h2{
font-weight: bold;
font-size: 40px;
justify-self: start;
}
.matchDetail-content-rightbottom-left{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  position: relative;
  top:-10px;
  left:-166px;
  font-size: 24px;
}
.matchDetail-content-rightbottom-left > h2{
  justify-self: start;
  font-weight: medium;
}
.matchDetail-content-rightbottom-right > button{
left:36%;
/* font-family: 'SUIT'; */
font-style: normal;
box-sizing: border-box;
font-size: 24px;
color:#FFFFFF;
position: relative;
width: 234px;
height: 64px;
background: linear-gradient(180deg, #915DEB 0%, #A25FF9 100%);
border: 1px solid #000000;
border-radius: 40.8px;
}

.matchDetail-notice-banner{
  display:grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top:128px;
  width:100vw;
  height: 724px;
  background-color: #F8F9F4;
}
.matchDetail-notice-banner-left{
  position: relative;
  top:120px;
  left:-40px;
  justify-self: center;
}
.matchDetail-notice-banner-left h1{
  font-size:40px;
}
.matchDetail-notice-banner-right {
  display:flex;
  flex-direction: column;
  align-items: flex;
  position:relative;
  top:100px;
  left:-100px;
  font-size: 24px;
}

.matchDetail-notice-banner-right *{
  margin:8px;
  /* line-height:100%; */
}
.matchDetail-notice-banner-right img{
  position:relative;
  top:12px;
}



/* 메이트정보(2페이지) css */



.matchDetail-contents2-box{
  position: relative;
  top:133px;
  display:flex;
  width:78%;
  margin: auto;
  justify-content: space-between;
  font-family: 'SUIT';
  font-style: normal;
}

.matchDetail-contents2-box-rightside{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  /* width:724px; */
  /* left:-240px; */
  position: relative;
  gap:1em;
  
}

/* .matchDetail-contents2-box-rightside-
line1~5 */

.matchDetail-c2box-rsline1{
  display: flex;
  gap:20px;
  margin-bottom: 8px;
}
.matchDetail-c2box-rsline1 > h2{
  color:#5E1EC7;
  border: 2px solid #5E1EC7;
  border-radius: 25px;
  padding:8px 20px 8px 20px;
  font-size: 24px;
  /* margin-left:44px; */
}

.matchDetail-c2box-rsline2 *{
  margin-top:16px;
  /* width:600px; */
}
.matchDetail-c2box-rsline2 > h3{
  font-size: 24px; 
  font-weight: 400;
}
.matchDetail-c2box-rsline2 > h1{
  font-size:40px;
}

.matchDetail-c2box-rsline3{
  /* flex-wrap: wrap; */
  display:flex;
  margin-top: 28px;
  font-size: 24px;
  gap:74px;
  justify-content: space-between;
}
.matchDetail-c2box-rsline3 h3{
  width:100px;
  /* display:flex; */
}

.matchDetail-c2box-rsline3 h3{
  letter-spacing: 20px;
}
.matchDetail-c2box-rsline3 > div{
  display: flex;
  gap:10px;
  font-weight: 400;
}
.matchDetail-c2box-rsline4{
  display:flex;
  margin-top: 44px;
  font-size: 24px;
  gap:111px;
  justify-content: space-between;
  height: 32px;
  box-sizing: border-box;
}
.matchDetail-c2box-rsline4 > div{
  display: flex;
  gap:10px;
  justify-content: flex-start;
}

.matchDetail-c2box-rsline5{
  margin-top:20px;
  display: flex;
  /* justify-content: space-between; */
}
.matchDetail-temporature-button{
  position: relative;
  opacity: 0.79;
width: 423px;
height: 194px;
/* left: 872px; */
/* top: 757px; */
background: #F8F9F4;
border-radius: 12px;
display: grid;


}
.matchDetail-matching-button{
  width:423px;
  height:194px;
  position: relative;
  background-color: #5E1EC7;
  border-radius: 12px;
  display: grid;
}

.matchDetail-c2box-notice{
  position: relative;
  top:200px;
  width:100vw;
  background-color: #F8F9F4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.matchDetail-c2box-notice div:first-of-type{
  justify-self: center;
}
.matchDetail-c2box-notice div:last-of-type{
  justify-self: center;
}




/* 참여자정보 3페이지 css */









.MatchDetailContents3-background{
  background-color: #F8F9F4;
  width:100vw;
  height: 300px;
}
.MatchDetailContents3-profile-outline{
  display: flex;
  width:60%;
  height: 100%;
  margin: auto;
  align-items: center;
}
.MatchDetailContents3-profile{
  display: flex;
  justify-content: start;
  width:50%;
  justify-content: space-between;
}
.MatchDetailContents3-profile > div:first-of-type{
  width:180px;
  height: 180px;
  background-color: #797979;
  border-radius: 40%;
}

.MatchDetailContents3-profile-inner-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap:32px;
  position: relative;
  right:100px;
}
/* 사용자이미지박스 */
.MatchDetailContents3-profile-inner-right div:first-of-type{
  width:111px;
  height: 44px;
  background-color: #FFC942;
  border-radius: 100px;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  color:#ffffff;

}
.MatchDetailContents3-profile-inner-right div:first-of-type > div{
  justify-content: center;
  align-items: center;
  position: relative;
}

.MatchDetailContents3-profile-inner-right div:nth-of-type(2){
  display: flex;
  color:#797979;
  font-weight: 800;
  gap:10px;
}
.MatchDetailContents3-profile-inner-right div:nth-of-type(2) > span:first-of-type{
  font-size: 30px;
  color: #232323;
  font-weight: 700;
}
.MatchDetailContents3-profile-inner-right div:nth-of-type(2) > span:nth-of-type(2){
  position: relative;
  color: #797979;
  font-size: 20px;
  font-weight: 500;
  top:10px;
}

.matchListComponent-outline{
  margin: auto;
  width:55%;
  height: 150px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #797979;
}

.matchListComponent-box-left{
  display: flex;
  justify-content: space-evenly;
  gap:28px;
  align-items: center;
}
.matchListComponent-box-left-userimg{
  width:72px;
  height: 72px;
  border-radius: 50%;
  background-color: #797979;
}
.matchListComponent-box-left-nickname{
  display: flex;
  align-items: center;
  color:#797979;
  font-weight: 700;
  font-size:32px;
}
.matchListComponent-box-left-matchstate{
  display: flex;
  align-items: center;
  color: #797979;
  width:137px;
  height: 40px;
  border-radius: 100px;
  border: 2px solid #797979;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}

.matchListComponent-box-right{
  display: flex;
  justify-content:space-evenly;
  gap:20px;
}


 /* font-weight 700->800 hover 
 bold:700 , extraBold:800 */
.matchListComponent-box-right-item1{
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 36px;
  border: 2px solid #797979;
  opacity: 0.79;
  border-radius: 130px;
}
.matchListComponent-box-right-item1:hover{
  background-color: #FFC942;
  color:white;
  font-weight: 800;
}
.matchListComponent-box-right-item2{
  box-sizing: border-box;
  font-size: 24px;
  font-weight:bold;
  padding: 12px 36px;
  border: 2px solid #797979;
  opacity: 0.79;
  border-radius: 130px;
}
.matchListComponent-box-right-item2:hover{
  background-color: #5E1EC7;
  color:white;
  font-weight: 800;
  
}

.matchListComponent-box-right-item3{
  all: unset;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 36px;
  border: 2px solid #797979;
  opacity: 0.79;
  border-radius: 130px;
}
.matchListComponent-box-right-item3:hover{
  background-color: #9A11E7;
  color:white;
  font-weight: 800;
}



