/* Matching.js 관련 css*/
.Slider {
  width: 100%;
  height: 55%;
}

.searchInput {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
}

/* 검색 input box */
.match-main-search-container{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.match-main-search{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  
}
.match-main-search-input { 
  position: absolute;
  width: 400px;
  height: 40px;
  padding-left: 30px;
  border-radius: 3em;
  border-color: #5E1EC7;
  color: #5E1EC7;
  font-size: 15px;

}

