/*Signup Agreement*/
.SignupAgreeSection {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.SignupAgreeComponents{
    display: flex;
    width: 800px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.SignupHibitLogo {
    width: 320px;
    height: 70px;
    padding-top: 180px;
}

.Signup-contents {
    padding: 20px;
    width: 800px;
    height: 240px;
    resize: none;
}
.Signup-contents-marketing{
    padding: 20px;
    width: 800px;
    height: 60px;
    resize: none;
}

.SignupAgreeAll{
    width: 800px;
    /* margin: 30px; */
    align-self: flex-start;
}
.SignupSNS, .SignupEmail{
    width: 800px;
    margin-top: 30px;
    align-self: flex-start;
}

.SignupProvision, .SignupPrivacy, .SignupMarketing {
    width: 800px;
    height: 240px;
    align-self: flex-start;
    margin-top: 100px;
    /* margin: 30px; */

} 

.Signup-Buttons{
    margin-top: 130px;
}

.Signup-prevBtn{
    width: 380px;
    height: 98px;
    margin-right: 20px;
    margin-left: 60px;
}

.Signup-nextBtn{
    margin-left: 20px;
}