
/*Signup Information*/

/* Structure */
.Signup-info-container{
    background: #F8F9F4;
}
.Signup-info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Signup-info-header{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #5E1EC7;
    color: white;
    height: 200px;
    font-size: 22px;
    font-weight: bold;
}
.Signup-info-header-title{
    margin-left: 400px;
    margin-bottom: 30px;
}
.Signup-info-profile-img{
    margin-top: 100px;
    position: relative;
}
.Signup-info-img{
    width: 288px;
    height: 300px;
}
.Signup-info-add{
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}

.Signup-hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #797979;
    width: 1000px;
}

.Signup-title-require{
    font-weight: bold;
    color: #7E5DEB;
    justify-content: flex-start;
    font-size: 30px;
    margin-top: 40px;
}
.Signup-title{
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    font-weight: bold;
    color: #7E5DEB;
    font-size: 30px;
}

.Signup-require-profile-container, .Signup-optional-profile-container {
    width: 1120px;
    background: white;
}

.Signup-require-profile, .Signup-optional-profile{
    display: flex;
    border: 4px solid;
    border-radius: 2em;
    border-color: #797979;
    margin: 5px;
    padding: 5px;
    flex-direction: column;
}



/* Common Component */
.Signup-column{
    width: 200px;
    margin-left: 50px;
    font-size: 20px;
}

.Signup-input-form{
    display: flex;
    flex-direction: column;
}


/* Nickname */
.Signup-nickname{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Signup-nickname-input, .Signup-id-input{
    width: 500px;
    height: 56px;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    padding-left: 40px;
    font-size: 20px;
}
.Signup-nickname-check, .Signup-id-check{
    width: 200px;
    height: 56px;
    margin-left: 40px;
    margin-right: 30px;
    cursor: pointer;
}

/* ID */
.Signup-id{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}


/* PassWord */
.Signup-pw-row, .Signup-pw-re-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Signup-pw-not-equal{
    font-weight: bold;
    color: #7E5DEB;
}
.Signup-pw-input, .Signup-pw-re-input{
    width: 500px;
    height: 56px;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    padding-left: 40px;
    font-size: 20px;
}


/* Name-Gender Row */
.Signup-name-gender-row{
    display: inline-flex;
    flex-direction: row;
}

/*  Name */
.Signup-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Signup-name-input{
    width: 500px;
    height: 56px;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    padding-left: 40px;
    font-size: 20px;
}


/* Gender */
.Signup-gender{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Signup-selected-gender{
    width: 550px;
    height: 56px;
    border: 2px solid;
    border-color: #797979;
    font-weight: bold;
    /* text-align: center; */
    border-radius: 0.5em;
    padding-left: 20px;
    font-size: 20px;
    color: #797979;
}

/* Birth */
.Signup-birth{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.Signup-birth-grid{
    display: grid;
    grid-template-columns: 195px 195px 195px;
}
.Signup-birth-year, .Signup-birth-month, .Signup-birth-day{
    height: 56px;
    border-radius: 0.5em;
    border: 2px solid;
    border-color: #797979;
    padding-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}


/* Home */
.Signup-home{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Signup-home-prefix{
    color: #797979;
    width: 250px;
    height: 56px;
    font-weight: bold;
    text-align: center;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
}
.Signup-home-suffix{
    color: #797979;
    width: 250px;
    height: 56px;
    margin-left: 50px;
    font-weight: bold;
    text-align: center;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
}

/* Email */
.Signup-email{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Signup-email-input, .Signup-email-addr-select{
    width: 245px;
    height: 56px;
    font-weight: bold;
    text-align: center;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
}
.Signup-at-symbol{
    font-size: 30px;
}


/* Phone */

.Signup-phone{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Signup-phone-input{
    width: 540px;
    height: 56px;
    font-weight: bold;
    border: 2px solid;
    padding-left: 20px;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
}

.Signup-phone-auth-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
.Signup-phone-auth-input{
    margin-left: 254px;
    cursor: pointer;
    width: 540px;
    height: 56px;
    font-weight: bold;
    padding-left: 20px;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
    margin-top: 20px;
}
.Signup-phone-validate{
    width: 200px;
    height: 56px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}



/**** Optional Information ****/
.Signup-optianal-title{
    margin-top: 80px;
    font-weight: bold;
    color: #7E5DEB;
    font-size: 30px;
}

/* Common component */
.Signup-optional-column{
    margin-top: 40px;
    margin-left: 110px;
    font-size: 25px;
    font-weight: bold;
}

/* Exhibit Style */
.Signup-exhibit-style-list-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.Signup-exhibit-style{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.Signup-exhibit-style-list{
    display: grid;
    grid-template-columns: 490px 490px;
    grid-template-rows: 100px 100px;
}
.Signup-exhibit-stlye-item { 
    position: relative;
    border: solid;
    border-width: 1px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;

    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
    margin: 20px;
}
.Signup-exhibit-stlye-itemActive{
    position: relative;
    background-color: #7E5DEB;
    color: white;
    font-weight: bold;
    text-align: center;

    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}


/* My Style */
.Signup-my-style-list-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.Signup-my-style-list{
    display: grid;
    grid-template-columns: 242px 242px 242px 242px;
    grid-template-rows: 100px 100px 100px;
}
.Signup-my-style-item{
    border: solid;
    border-width: 1px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
    margin: 20px;
}
.Signup-my-style-itemActive{
    background-color: #7E5DEB;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}


/* My Interest */
.Signup-interest-list-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.Signup-interest-list{
    display: grid;
    grid-template-columns: 242px 242px 242px 242px;
    grid-template-rows: 100px 100px 100px;
}
.Signup-interest-item{
    border: solid;
    border-width: 1px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
    margin: 20px;
}
.Signup-interest-itemActive{
    background-color: #7E5DEB;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

/* Introduce */
.Signup-introduce-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.Signup-introduce{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.Signup-introduce-input {
    width: 940px;
    height: 160px;
    resize: none;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}



/* Signup Button*/
.Signup-button-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.Signup-button{
    width: 1100px;
    height: 100px;
    background-color: #7E5DEB;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 2px solid;
    border-color: #797979;
    border-radius: 0.5em;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}