.SignupAgreeSection {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.SignupAgreeComponents{
    display: flex;
    width: 1135px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.SignupHibitLogo {
    width: 156px;
    height: 34px;
    padding-top: 180px;
}

.Signup-contents {
    width: 100%;
    height: 100%;
    resize: none;
}

.SignupAgreeAll{
    width: 1135px;
    margin: 30px;
    align-self: flex-start;
}
.SignupSNS, .SignupEmail{
    width: 1135px;
    margin-left: 30px;
    margin-top: 10px;
    align-self: flex-start;
}

.SignupProvision, .SignupPrivacy, .SignupMarketing {
    width: 1135px;
    height: 240px;
    align-self: flex-start;
    margin: 30px;
} 

.Signup-Buttons{
    margin-top: 55px;
}

.Signup-prevBtn{
    margin-right: 20px;
    margin-left: 60px;
}

.Signup-nextBtn{
    margin-left: 20px;
}




.SignupInfoSection{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.SignupRequireProfile, .SignupOptionalProfile {
    display: flex;
}






.SignupExhibitStyleList{
    display: grid;
    grid-template-columns: 400px 400px;
}
.SignupExhibitStlyeItem { 
    border: solid;
    border-width: 1px;
    cursor: pointer;
}

.SignupExhibitStlyeItem active { 
    border: solid;
    border-width: 1px;
    cursor: pointer;
    background: red;

}

.SignupMyStyleList{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}

.SignupMyStyleItem{
    border: solid;
    border-width: 1px;
}