@import url('./css-modules/main.css');

@import url('./css-modules/navbar.css');

@import url('./css-modules/match.css');

@import url('./css-modules/login.css');

@import url('./css-modules/signup-agreement.css');

@import url('./css-modules/signup-info.css');

@import url('./css-modules/match_detail.css');

@import url('./css-modules/match_newpost.css');

body{
  padding:0;
  height: 100vh;
  margin:0;
}

h1,h2,h3,h4,h5,h6{
  font-size:inherit;
  padding:0;
  margin:0;
}

.Container{
  position: relative;
  height: 300vh;
}

.Footer-container{
  position: absolute;
  bottom: 0px;
}







.MatchDetailContents3-background{
  background-color: #F8F9F4;
  width:100vw;
  height: 300px;
}
.MatchDetailContents3-profile-outline{
  display: flex;
  width:60%;
  margin: auto;
  /* align-items: center; */
}
.MatchDetailContents3-profile{
  display: flex;
  justify-content: start;
  width:50%;
  justify-content: space-between;
}
.MatchDetailContents3-profile > :first-of-type{
  width:160px;
  height: 160px;
  background-color: red;
}