@import url('./css-modules/main.css');

@import url('./css-modules/navbar.css');

@import url('./css-modules/match.css');

body{
  padding:0;
  height:300vh;
  margin:0;
}

h1,h2,h3,h4,h5,h6{
  font-size:inherit;
  padding:0;
  margin:0;
}

.App{
  height: 100vh;
}

.tmpImg{
  width: 1920px;
  height: 1080px;
}