@import url('./css-modules/main.css');

@import url('./css-modules/navbar.css');

@import url('./css-modules/match.css');

@import url('./css-modules/login.css');

@import url('./css-modules/signup-agreement.css');

@import url('./css-modules/signup-info.css');

body{
  padding:0;
  height: 100vh;
  margin:0;
}

h1,h2,h3,h4,h5,h6{
  font-size:inherit;
  padding:0;
  margin:0;
}

.LoginIcon .LogoutIcon{
  cursor: pointer;
}

.Hibit_logo{
  width: 156px; 
  height: 34px;
}

.Container{
  position: relative;
  height: 300vh;
}

.Footer-container{
  position: absolute;
  bottom: 0px;
}
